<!-- <title>{{message}}</title> -->
<div *ngIf="!fullAccess" class="container-fluid">
  <div *ngIf="loadingSymbol" class="loader"></div>
  <div [ngClass]="{'overlay':loadingSymbol,'a':!loadingSymbol}">
    <div class="container-fluid bodyDiv">
      {{noAccessMessage}}
    </div>
  </div>
</div>
<div *ngIf='fullAccess' class="container-fluid">
  <div *ngIf="loadingSymbol" class="loader"></div>
  <div [ngClass]="{'overlay disabled':loadingSymbol,'a':!loadingSymbol}">
    <div class="container-fluid bodyDiv">
      <!-- div for header -->
      <div class="row">
        <span>
          <h1>{{message}}</h1>
        </span>
      </div>
      <!-- div for create button -->
      <div class="row buttonPullRight">
        <!--<div class="createButtonDiv" data-toggle="modal" data-target="#addRoleModal" data-backdrop="static"
      data-keyboard="false" (click)=AddRole()> -->
        <div class="createButtonDiv" (click)=AddRole(addRoleModal)>
          <div class="createButtonIconDiv">
            <img class="createButtonIcon" src="../../../assets/images/create.png" alt="click here to create new Role">
          </div>
          <div class="createButtonValueDiv">
            Add New Role
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="createButtonDiv" (click)="RoleMenuDetails(roleMenuModal)">
          <div class="createButtonIconDiv">
          </div>
          <div class="createButtonValueDiv">
            Role Menu Details
          </div>
        </div>
      </div>
      <br />
      <!-- div for filter & grid -->
      <div class="row">
        <!-- div for filter -->
        <div class="col-sm-2 filteryDiv">
          <section class="mySection">
            <div class="row">
              <div class="col-md-7">
                <h2>Filters</h2>
              </div>
              <div *ngIf="enableClearAll" class="col-md-5 clearAll">
                <span (click)="clearAllFilter()">Clear all</span>
              </div>
            </div>
            <div class="row filtersheight">
              <div *ngFor="let fa of filteredArray; let i=index">
                <div class="filterSelectedValue" (click)="deleteFilter(fa)">
                  <div class="filterCrossIcon">✕</div>
                  <div class="filterCrossValue">{{fa.text}}</div>
                </div>
              </div>
            </div>
          </section>

          <section class="mySection">
            <div class="row filterHeaderFontWeight" (click)="toggleRoleName()"  data-toggle="collapse"
              data-target="#roleFilter">
              <div class="col-md-10">
                Role
              </div>
              <div class="col-md-1">
                <div data-toggle="collapse" data-target="#roleFilter" *ngIf="!showRoleName">
                  <!-- &#9658; -->
                  <img class="arrowIcon" src="../../../assets/images/greaterArrow.svg"
                    alt="click greaterArrow to open Role filter"> </div>
                <div data-toggle="collapse"  data-target="#roleFilter"  *ngIf="showRoleName">
                  <!-- &#9660; -->
                  <img class="arrowIcon" src="../../../assets/images/downArrow.svg"
                    alt="click downArrow to open Role filter"> </div>
              </div>
            </div>
            <div class="row collapse" id="roleFilter">
              <div class="col-md-1"></div>
              <div class="col-md-11 filterData">
                <div class="filterDataheight">
                  <div *ngFor="let role of roleMasterDetails | slice:0:roleCount; let i=index"
                    class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" [value]="role.RoleId" name="{{role.RoleNm}}" id="{{role.RoleNm}}"
                       [(ngModel)]="role.selected"  (change)="selectRoleName(role)"   />
                    <label for="{{role.RoleNm}}"> {{role.RoleNm}} </label>
                  </div>
                </div>
                <div *ngIf="roleMasterDetails?.length > filterCount">
                  <span class="showMore" (click)="displayMoreRoleName()">{{showMoreRoleName}}</span>
                </div>
              </div>
            </div>
          </section>

          <section class="mySection">
            <div class="row filterHeaderFontWeight" (click)="toggleStatus()"  data-toggle="collapse"
              data-target="#statusFilter">
              <div class="col-md-10">
                Status
              </div>
              <div class="col-md-1">
                <div data-toggle="collapse" data-target="#statusFilter" *ngIf="!showStatus">
                  <!-- &#9658; -->
                  <img class="arrowIcon" src="../../../assets/images/greaterArrow.svg"
                    alt="click greaterArrow to open Status filter"> </div>
                <div data-toggle="collapse"  data-target="#statusFilter"  *ngIf="showStatus">
                  <!-- &#9660; -->
                  <img class="arrowIcon" src="../../../assets/images/downArrow.svg"
                    alt="click downArrow to open Status filter"> </div>
              </div>
            </div>
            <div class="row collapse" id="statusFilter">
              <div class="col-md-1"></div>
              <div class="col-md-11 filterData">
                <div class="filterDataheight">
                  <div *ngFor="let status of statusDetails | slice:0:statusCount; let i=index"
                    class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" [value]="status.statusId" name="{{status.statusName}}"
                      id="{{status.statusName}}"  [(ngModel)]="status.selected"  (change)="selectStatus(status)"   />
                    <label for="{{status.statusName}}"> {{status.statusName}} </label>
                  </div>
                </div>
                <div *ngIf="statusDetails?.length > filterCount">
                  <span class="showMore" (click)="displayMoreStatus()">{{showMoreStatus}}</span>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- div for grid -->

        <div class="col-sm-10">
          <div class="row gridDiv">
            <table class="table table-striped table-hover ">
              <thead class="table-header">
                <!-- thead-inverse -->
                <tr>
                  <th class="cansort" (click)="sorting('RoleName')">ROLE
                    <span *ngIf="defaultSort == false && sortColumn == 'RoleName' && sortDirection == 'asc'">▲</span>
                    <span *ngIf="defaultSort == false && sortColumn == 'RoleName' && sortDirection == 'desc'">▼</span>
                  </th>
                  <th class="cansort" (click)="sorting('StatusName')">STATUS
                    <span *ngIf="sortColumn == 'StatusName' && sortDirection == 'asc'">▲</span>
                    <span *ngIf="sortColumn == 'StatusName' && sortDirection == 'desc'">▼</span>
                  </th>
                  <th class="cansort" (click)="sorting('UpdatedBy')">MODIFIED BY
                    <span *ngIf="sortColumn == 'UpdatedBy' && sortDirection == 'asc'">▲</span>
                    <span *ngIf="sortColumn == 'UpdatedBy' && sortDirection == 'desc'">▼</span>
                  </th>
                  <th class="cansort" (click)="sorting('UpdatedDate')">MODIFIED ON
                    <span *ngIf="sortColumn == 'UpdatedDate' && sortDirection == 'asc'">▲</span>
                    <span *ngIf="sortColumn == 'UpdatedDate' && sortDirection == 'desc'">▼</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="roleDataDisplay?.length<=0">
                  <td></td>
                  <td>No Records found</td>
                  <td></td>
                  <td></td>
                </tr>
                <ng-container *ngIf="roleDataDisplay?.length>0">
                  <tr *ngFor="let item of roleDataDisplay">
                    <td>{{item.RoleName}}</td>
                    <td>
                      <span *ngIf="item.StatusId == 1">
                        <span class="cansort" (click)="changeStatus(item)" title="Click to change Status">
                          <img src="../../../assets/images/active.png" alt="Active">
                        </span>
                      </span>
                      <span *ngIf="item.StatusId == 0">
                        <span class="cansort" (click)="changeStatus(item)" title="Click to change Status">
                          <img src="../../../assets/images/inactive.png" alt="Inactive">
                        </span>
                      </span>
                    </td>
                    <td>{{item.UpdatedBy}}</td>
                    <td>{{item.UpdatedDate | date : "dd-MMM-yyyy"}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div *ngIf="roleDataDisplay?.length>0" class="row gridDiv showPageDiv table-footer">
            <div class="col-sm-5 pagination">
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination" id="paginationtab1">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">
                    <<</a> </li> <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">
                        <</a> </li> <li *ngFor="let page of pager.pages"
                          [ngClass]="{active:pager.currentPage === page}">
                          <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">>></a>
                </li>
              </ul>
            </div>
            <div class="col-sm-5 pagingOptions">
              <label for="ddlPageItems1" class="labelpagingOptions">Show</label>&nbsp;
              <select id="ddlPageItems1" class="optionddl"  [ngModel]="selectedPageSize"
                 (ngModelChange)="onPagingOptionsChange($event)">
                <option [value]="i" *ngFor="let i of pageOptions">{{i}}</option>
              </select>&nbsp;
              entries
            </div>
            <div class="col-sm-2 textnowrap">
              <span class="pagerecordcount">{{pager.startIndex + 1}} - {{pager.endIndex + 1}} of
                {{pager.totalItems}} records </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal pop up for Add Role -->
<ng-template #addRoleModal let-modal>

  <!-- Modal Header -->
  <div class="modal-header">
    <span class="modal-title"> Add New Role </span>
    <span class="closebutton glyphicon glyphicon-remove" (click)="CloseRoleMenuModal()"></span>
  </div>

  <!-- Modal body -->
  <div *ngIf="loadingSymbolForAddRoleModal" class="loader"></div>
  <div [ngClass]="{'overlay':loadingSymbolForAddRoleModal,'a':!loadingSymbolForAddRoleModal}">
    <div class="modal-body">
      <br />
      <div class="row alignitemcenter">
        <div class="col-md-2">
        </div>
        <div class="col-md-2 textnowrap">
          <label for="txtRoleName">Role<span class="redColour">*</span></label>
        </div>
        <div class="col-md-8">
          <input type="text" id="txtRoleName" [(ngModel)]='roleName'>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <button type="button" class="btn" (click)="SaveRole()">Save</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn" (click)="CloseRoleModal()">Cancel</button>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal pop up for View Role Menu Deatils-->
<ng-template #roleMenuModal let-modal>

  <!-- Modal Header -->
  <div class="modal-header">
    <span class="modal-title"> Role Menu Details </span>
    <span class="closebutton glyphicon glyphicon-remove" (click)="CloseRoleMenuModal()"></span>
  </div>

  <!-- Modal body -->
  <div *ngIf="loadingSymbolForRoleMenuModal" class="loader"></div>
  <div [ngClass]="{'overlay':loadingSymbolForRoleMenuModal,'a':!loadingSymbolForRoleMenuModal}">
    <div class="modal-body">
      <br />
      <div class="row alignitemcenter">
        
        <div class="col-md-1 textnowrap">
          <label for="ddlRoleName">Role<span class="redColour">*</span></label>
        </div>
        <div class="col-md-3">
          <select id="ddlRoleName" [(ngModel)]='selectRoleId'>
            <option class='option' value="-1">Select</option>
            <option class='option' *ngFor='let role of roleMasterDetails' [value]="role.RoleId">
              {{role.RoleNm}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn" (click)="SearchRoleMenu()">Search</button>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <br />
      <br />
      <div class="row modalgridDiv">
        <table class="table table-striped table-hover ">
          <thead class="table-header">
            <!-- thead-inverse -->
            <tr>
              <th>MENU</th>
              <th>ROLE</th>
            </tr>
          </thead>
          <tbody *ngFor="let roleMenu of roleMenuDeatialsDisplay">
            <tr>              
              <td>
                <span *ngIf ="roleMenu.IsSubMenuAvailable" class="spanlink" id={{roleMenu.MenuName}}
                data-toggle="collapse" [attr.data-target]="'#' + roleMenu.MenuId">{{roleMenu.MenuName}}</span>
                <span *ngIf ="!roleMenu.IsSubMenuAvailable">{{roleMenu.MenuName}}</span>
              </td>
              <td>{{roleMenu.RoleName}}</td>
            </tr>
            <tr id={{roleMenu.MenuId}} class=collapse>
              <td colspan="2" class="paddingleft">
                <table class="table table-striped table-hover ">
                  <thead class="table-header childgridheader">
                    <tr>
                      <th>MENU</th>
                      <th>ROLE</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of roleMenu.SubMenuDetails">
                    <tr>
                      <td class="textnowrap">{{item.SubMenuName}}</td>
                      <td>{{item.SubMenuRoleName}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          <!-- <tbody>
            <tr *ngIf="roleMenuDeatialsDisplay?.length<=0">
              <td></td>
              <td>No Records found</td>
            </tr>
            <ng-container *ngIf="roleMenuDeatialsDisplay?.length>0">
              <tr *ngFor="let item of roleMenuDeatialsDisplay">
                <td>{{item.RoleName}}</td>
                <td>
                  <span *ngIf="item.StatusId == 1">
                    <span class="cansort" (click)="changeStatus(item)" title="Click to change Status">
                      <img src="../../../assets/images/active.png" alt="Active">
                    </span>
                  </span>
                  <span *ngIf="item.StatusId == 0">
                    <span class="cansort" (click)="changeStatus(item)"title="Click to change Status">
                      <img src="../../../assets/images/Inactive.png" alt="Inactive">
                    </span>
                  </span>
                </td>
                <td>{{item.UpdatedBy}}</td>
                <td>{{item.UpdatedDate | date : "dd-MMM-yyyy"}}</td>                    
              </tr>
            </ng-container>
          </tbody> -->
        </table>
      </div>
    </div>
  </div>
</ng-template>