<configuration>
    <system.webServer>
    <httpProtocol>
       <customHeaders>
        <clear />
        <add name="strict-transport-security" value="max-age=31536000; includesubdomains" />
        <add name="x-xss-protection" value="1; mode=block" />
        <add name="x-content-type-options" value="nosniff" />
        <add name="x-frame-options" value="sameorigin" />
        <add name="cache-control" value="no-store" />
        <add name="access-control-allow-origin" value="*" />
        <add name="content-security-policy" value="default-src 'self' 'unsafe-eval' 'unsafe-inline' https://login.microsoftonline.com https://maxcdn.bootstrapcdn.com https://cdnjs.cloudflare.com https://ajax.googleapis.com *.accenture.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdnjs.cloudflare.com https://maxcdn.bootstrapcdn.com https://ajax.googleapis.com *.accenture.com cdn.appdynamics.com; img-src 'self' https://cdnjs.cloudflare.com *.accenture.com data: col.eum-appdynamics.com; font-src 'self' https://maxcdn.bootstrapcdn.com *.accenture.com data:;connect-src 'self' https://login.microsoftonline.com *.accenture.com col.eum-appdynamics.com" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
    <requestFiltering removeServerHeader ="true" />
  </security>
        <rewrite>
            <rules>
                <rule name="Deep Linking" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="ResponseASPNet">
                    <match serverVariable="RESPONSE_X-AspNet-Version" pattern=".+" />
                    <action type="Rewrite" />
                </rule>
                <rule name="ResponseNetMVC">
                    <match serverVariable="RESPONSE_X-AspNetMvc-Version" pattern=".+" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>
        <staticContent>
    <remove fileExtension=".json" />
    <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
  </system.webServer>
   <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
</configuration>